version: "3.1"

services:
  db:
    image: "postgres:15"
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: denojira
    volumes:
      - "pgdata:/var/lib/postgresql/data:Z"
  server:
    build:
      context: .
    ports:
      - "8000:8000"
volumes:
  pgdata:
    driver: local
