services:
  db:
    image: "postgres:15"
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: denojira
    volumes:
      - "pgdata:/var/lib/postgresql/data"
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  server:
    depends_on:
      - db
    build:
      context: .
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_PASSWORD: password
    # NOTE: hot-reload not implemented
    volumes:
      - ./:/app
  migration_task:
    depends_on:
      - db
    build:
      context: .
    # NOTE: will drop the tables for a fresh setup
    # with up to date schema, will revisit
    command: -c 'bin/migrate.ts'
    environment:
      DB_HOST: db
      DB_PASSWORD: password
    profiles:
      - migrate
    volumes:
      - ./:/app
volumes:
  pgdata:
    driver: local
