.lanes-parent {
  display: flex;
  flex-grow: 1;
}

.lane-item {
  padding: .5em;
  margin: .2em;
  border: 5px double #000000;
  border-radius: 8px;
}

.lane-cards-parent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.card-item {
  padding: .5em;
  margin: .2em;
  border: 5px solid #000000;
  border-radius: 8px;
}
